[remote "anonscm"]
    url = https://anonscm.debian.org/cgit/pkg-vim/vim.git/
    fetch = +refs/heads/*:refs/remotes/anonscm/*
[remote "github"]
    url = git@github.com:huangyingw/pkg-vim.git
    fetch = +refs/heads/*:refs/remotes/github/*
[remote "bitbucket"]
    url = git@bitbucket.org:huangyingw/pkg-vim.git
    fetch = +refs/heads/*:refs/remotes/bitbucket/*
[push]
    remote = github
    remote = bitbucket
[gsync]
    remote = anonscm
    branch = master
[branch "xenial.fix"]
    remote = origin
    merge = refs/heads/xenial.fix
[commit]
	message = n
